.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; }
.parallax img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translateX(-50%); }
.parallax-container {
    position: relative;
    overflow: hidden;
    height: 500px; }

.grey {
    background-color: #9e9e9e !important; }

.grey.darken-1 {
    background-color: #757575 !important; }

.grey.darken-2 {
    background-color: #616161 !important; }

.grey.darken-3 {
    background-color: #424242 !important; }

.grey.darken-4 {
    background-color: #212121 !important; }
.right {
    float: right !important; }
@media only screen and (max-width : 992px) {
    .hide-on-med-and-down {
        display: none !important; } }
.left {
    float: left !important; }

.light, footer.page-footer .footer-copyright {
    font-weight: 300; }

footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #ee6e73; }
footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(51, 51, 51, 0.08); }

.mdl-color-text--white {
    color: #FFFFFF !important;
}
.indigo.darken-1 {
    background-color: #3949ab !important; }

.blue-grey.lighten-3 {
    background-color: #b0bec5 !important; }

.card, .card-header {
    border-color: rgba(0, 0, 0, 0.3);
}

.img-thumbnail {
    border-radius: 50%;
    margin-top: -70px;
}

.bg-white {
    background-color: #ffffff;
}